body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#f8fbefba;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        margin-top: 10%;
        padding: 80px;  
        background: #0d1110;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #d2ef31;  
   
}  
label{  
    color: #dfe8e6;  
    font-size: 17px;  
}  
#Uname{  
    width: 100%;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 100%;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;
    font-weight: bolder;  
    padding-left: 7px;  
    color: rgb(26, 103, 48); 
    background-color: aqua; 
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  